# Custom Add
# *.ipynb
memo.md
.bak
CLAUDE.md
mini_samples_n55
synthetic_data
train_data*
eval_data*
eval_output*
eval_output_api
*anal
.omc
wandb
outputs
*.sh

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# Project specific
outputs/checkpoints/
outputs/logs/
data/raw/
data/processed/
experiments/clone_*.py



scripts/

# datagen
datagen/output

# wandb
wandb/

# checkpoints
trained_models

#eval output
eval_output_500_2batch_3ep
eval_output_500_2batch_3ep_highLR
eval_output_500_32batch_10ep
eval_output_my_model
eval_output_batch32-10ep
eval_output_500_32batch_10ep_before
